/* common shered style  */

body{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    color: aliceblue;
    background-color: #FD6E0A;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    font-size: 22px;

}



/* header nav style  */

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;

}
nav > ul{
    display: flex;
    align-items: center;
    list-style: none;
    /* text-decoration: none; */
}
nav li{
    margin-left: 30px;
}

nav a{
    text-decoration: none;
}

.nav-title{
    color: black;
    font-size: 45px;
    font-weight: 800;
}
.menus-text{
    color: rgb(0, 0, 0);
    font-size: 22px;
}
/*banner section style  */
header{
    background-color: hsl(25, 100%, 98%);
    background-image: url("/images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;

}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 30px 0 150px;
}
.banner-intro{
    font-size: 40px;
}
.banner-title{
font-size: 72px;
}
.banner-descripton{

}
.banner-content{
    line-height: 30px;
    max-width: 500px;
}

/* about container  */
main{
    max-width: 1140px;
    margin: 0px auto;
}
.list-container{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.about-container{
    background-color:#fff8f3 ;
    margin: 100px 0px;
    padding: 100px;
    /* margin: 0px auto; */
}
.section-description{
    /* max-width: 800px; */
    text-align: center;
    padding: 0px 100px;
}
.section-title{
    text-align: center;
    font-size: 35px;
}

